<h3>Books Topics</h3>
<hr />
<div class="d-flex flex-column align-items-center">
  <div>
    <a
      class="navbar border-body link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
      href="{% url 'home' %}"
      >All</a
    >
  </div>
  {% for topic in topics %}
  <div>
    <a
      class="navbar border-body link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
      href="{% url 'home' %}?q={{topic.name}}"
      >{{topic.name}}</a
    >
  </div>
  {% endfor %}
</div>
