{% extends 'main.html' %} 

{% block content %}

<style>
    .book-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin-left: 1rem;
    }

    .text-custom-color {
        color: #362727;
    }
</style>

<div class="book-container">
  <div>
        <h1>{{book.name}}</h1>

        <p>{{book.description}}</p>

        <div class="comment-wrapper">
            <h3>Comments</h3>
            <hr>
            {% for message in messagesBook %}
                <div>
                <small
                    >@{{message.user}} &nbsp; {{message.created | timesince}} ago</small
                >
                <p class="text-custom-color">{{message.body}}</p>
                {% if request.user.is_authenticated and request.user == message.user or request.user.is_superuser%}
                    <span><a class="btn btn-warning" href="{% url 'delete-comment' message.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                          </svg>
                    </a></span>
                {% endif %}
                <hr>
                </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
            <div class="col-4">
                <div class="comment-form">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="hstack gap-1">
                            <input type="text" name="body" placeholder="Leave a comment" class="form-control"/>
                            <input type="submit" value="Send" class="btn btn-outline-secondary"/>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div> 
    <div>
        <h3>Members</h3>
        <hr>
        {% for member in members %}
            <div>
                <p><a href="{% url 'user-profile' member.id %}" class="nav-link">@{{member}}</a></p>
            </div>
            
        {% endfor %}
    </div> 
</div>

{% endblock content %}
