{% extends 'main.html' %}

{% block content %}
    {% if page == 'loginPage' %}
        <div class="col-md-6 offset-md-3">
            <form method="POST" action="">
                {% csrf_token %}
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" placeholder="Username" class="form-control" />
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control" />
                <input type="submit" value="Login" class="mt-1 btn btn-primary"/>
            </form>
            <div class="mt-1">
                <p>Do not have an account? <a href="{% url 'register' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Register</a></p>
            </div>
        </div>
    {% elif page == 'registerPage' %}   
    <div class="col-md-6 offset-md-3">
        <form method="POST" action="">
            {% csrf_token %}
            {{userRegForm.as_p}}
            <input type="submit" value="Register"/>
        </form>
       <div class="mt-1">
            <p>Already have an account? <a href="{% url 'login' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Login</a></p>
       </div>
    </div>
    {% endif %}
{% endblock content %}