{% extends 'main.html' %} {% block content %}

<div class="d-flex justify-content-center flex-column align-items-center">
  <h1>Backgammon</h1>
  <div class="board">
    <div class="left-bin">
      <div class="top-row">
        <div class="arrow-down odd arrow">
          <div class="piece_white_1 pieces" id="piece_white_1" draggable="true">
            1
          </div>
          <div class="piece_white_2 pieces" id="piece_white_2" draggable="true">
            2
          </div>
          <div class="piece_white_3 pieces" id="piece_white_3" draggable="true">
            3
          </div>
          <div class="piece_white_4 pieces" id="piece_white_4" draggable="true">
            4
          </div>
          <div class="piece_white_5 pieces" id="piece_white_5" draggable="true">
            5
          </div>
        </div>
        <div class="arrow-down even arrow"></div>
        <div class="arrow-down odd arrow"></div>
        <div class="arrow-down even arrow"></div>
        <div class="arrow-down odd arrow">
          <div class="piece_black_8 pieces" id="piece_black_8" draggable="true">
            8
          </div>
          <div class="piece_black_9 pieces" id="piece_black_9" draggable="true">
            9
          </div>
          <div
            class="piece_black_10 pieces"
            id="piece_black_10"
            draggable="true"
          >
            10
          </div>
        </div>
        <div class="arrow-down even arrow"></div>
      </div>

      <div class="bottom-row">
        <div class="arrow-up odd arrow">
          <div class="piece_black_1 pieces" id="piece_black_1" draggable="true">
            1
          </div>
          <div class="piece_black_2 pieces" id="piece_black_2" draggable="true">
            2
          </div>
          <div class="piece_black_3 pieces" id="piece_black_3" draggable="true">
            3
          </div>
          <div class="piece_black_4 pieces" id="piece_black_4" draggable="true">
            4
          </div>
          <div class="piece_black_5 pieces" id="piece_black_5" draggable="true">
            5
          </div>
        </div>
        <div class="arrow-up even arrow"></div>
        <div class="arrow-up odd arrow"></div>
        <div class="arrow-up even arrow"></div>
        <div class="arrow-up odd arrow">
          <div
            class="piece_white_13 pieces"
            id="piece_white_13"
            draggable="true"
          >
            13
          </div>
          <div
            class="piece_white_14 pieces"
            id="piece_white_14"
            draggable="true"
          >
            14
          </div>
          <div
            class="piece_white_15 pieces"
            id="piece_white_15"
            draggable="true"
          >
            15
          </div>
        </div>
        <div class="arrow-up even arrow"></div>
      </div>
    </div>

    <div class="left_dice">1</div>
    <div class="right_dice">2</div>

    <div class="middle-bar"></div>

    <div class="right-bin">
      <div class="top-row">
        <div class="arrow-down odd arrow">
          <div
            class="piece_black_11 pieces"
            id="piece_black_11"
            draggable="true"
          >
            11
          </div>
          <div
            class="piece_black_12 pieces"
            id="piece_black_12"
            draggable="true"
          >
            12
          </div>
          <div
            class="piece_black_13 pieces"
            id="piece_black_13"
            draggable="true"
          >
            13
          </div>
          <div
            class="piece_black_14 pieces"
            id="piece_black_14"
            draggable="true"
          >
            14
          </div>
          <div
            class="piece_black_15 pieces"
            id="piece_black_15"
            draggable="true"
          >
            15
          </div>
        </div>
        <div class="arrow-down even arrow"></div>
        <div class="arrow-down odd arrow"></div>
        <div class="arrow-down even arrow"></div>
        <div class="arrow-down odd arrow"></div>
        <div class="arrow-down even arrow">
          <div class="piece_white_6 pieces" id="piece_white_6" draggable="true">
            6
          </div>
          <div class="piece_white_7 pieces" id="piece_white_7" draggable="true">
            7
          </div>
        </div>
      </div>

      <div class="bottom-row">
        <div class="arrow-up odd arrow">
          <div class="piece_white_8 pieces" id="piece_white_8" draggable="true">
            8
          </div>
          <div class="piece_white_9 pieces" id="piece_white_9" draggable="true">
            9
          </div>
          <div
            class="piece_white_10 pieces"
            id="piece_white_10"
            draggable="true"
          >
            10
          </div>
          <div
            class="piece_white_11 pieces"
            id="piece_white_11"
            draggable="true"
          >
            11
          </div>
          <div
            class="piece_white_12 pieces"
            id="piece_white_12"
            draggable="true"
          >
            12
          </div>
        </div>
        <div class="arrow-up even arrow"></div>
        <div class="arrow-up odd arrow"></div>
        <div class="arrow-up even arrow"></div>
        <div class="arrow-up odd arrow"></div>
        <div class="arrow-up even arrow">
          <div class="piece_black_6 pieces" id="piece_black_6" draggable="true">
            6
          </div>
          <div class="piece_black_7 pieces" id="piece_black_7" draggable="true">
            7
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
