{% extends 'main.html' %} {% load static %} {% block content %} {% csrf_token %}
<div class="d-flex justify-content-center flex-column align-items-center">
  <h1>Backgammon</h1>
  <div class="board">
    <div class="left-bin">
      <div class="top-row">
        <div class="arrow-down odd arrow has_white_pieces" id="12">
          <div
            class="piece_white_1 white_pieces"
            id="piece_white_1"
            draggable="true"
          >
            1
          </div>
          <div
            class="piece_white_2 white_pieces"
            id="piece_white_2"
            draggable="true"
          >
            2
          </div>
          <div
            class="piece_white_3 white_pieces"
            id="piece_white_3"
            draggable="true"
          >
            3
          </div>
          <div
            class="piece_white_4 white_pieces"
            id="piece_white_4"
            draggable="true"
          >
            4
          </div>
          <div
            class="piece_white_5 white_pieces"
            id="piece_white_5"
            draggable="true"
          >
            5
          </div>
        </div>
        <div class="arrow-down even arrow" id="11"></div>
        <div class="arrow-down odd arrow" id="10"></div>
        <div class="arrow-down even arrow" id="9"></div>
        <div class="arrow-down odd arrow has_black_pieces" id="8">
          <div
            class="piece_black_8 black_pieces"
            id="piece_black_8"
            draggable="true"
          >
            8
          </div>
          <div
            class="piece_black_9 black_pieces"
            id="piece_black_9"
            draggable="true"
          >
            9
          </div>
          <div
            class="piece_black_10 black_pieces"
            id="piece_black_10"
            draggable="true"
          >
            10
          </div>
        </div>
        <div class="arrow-down even arrow" id="7"></div>
      </div>

      <div class="bottom-row">
        <div class="arrow-up odd arrow has_black_pieces" id="13">
          <div
            class="piece_black_1 black_pieces"
            id="piece_black_1"
            draggable="true"
          >
            1
          </div>
          <div
            class="piece_black_2 black_pieces"
            id="piece_black_2"
            draggable="true"
          >
            2
          </div>
          <div
            class="piece_black_3 black_pieces"
            id="piece_black_3"
            draggable="true"
          >
            3
          </div>
          <div
            class="piece_black_4 black_pieces"
            id="piece_black_4"
            draggable="true"
          >
            4
          </div>
          <div
            class="piece_black_5 black_pieces"
            id="piece_black_5"
            draggable="true"
          >
            5
          </div>
        </div>
        <div class="arrow-up even arrow" id="14"></div>
        <div class="arrow-up odd arrow" id="15"></div>
        <div class="arrow-up even arrow" id="16"></div>
        <div class="arrow-up odd arrow has_white_pieces" id="17">
          <div
            class="piece_white_13 white_pieces"
            id="piece_white_13"
            draggable="true"
          >
            13
          </div>
          <div
            class="piece_white_14 white_pieces"
            id="piece_white_14"
            draggable="true"
          >
            14
          </div>
          <div
            class="piece_white_15 white_pieces"
            id="piece_white_15"
            draggable="true"
          >
            15
          </div>
        </div>
        <div class="arrow-up even arrow" id="18"></div>
      </div>
    </div>

    <div class="dice">{% include 'backgammon/dice.html' %}</div>

    <div class="middle-bar" id="middle-bar"></div>

    <div class="right-bin">
      <div class="top-row">
        <div class="arrow-down odd arrow has_black_pieces" id="6">
          <div
            class="piece_black_11 black_pieces"
            id="piece_black_11"
            draggable="true"
          >
            11
          </div>
          <div
            class="piece_black_12 black_pieces"
            id="piece_black_12"
            draggable="true"
          >
            12
          </div>
          <div
            class="piece_black_13 black_pieces"
            id="piece_black_13"
            draggable="true"
          >
            13
          </div>
          <div
            class="piece_black_14 black_pieces"
            id="piece_black_14"
            draggable="true"
          >
            14
          </div>
          <div
            class="piece_black_15 black_pieces"
            id="piece_black_15"
            draggable="true"
          >
            15
          </div>
        </div>
        <div class="arrow-down even arrow" id="5"></div>
        <div class="arrow-down odd arrow" id="4"></div>
        <div class="arrow-down even arrow" id="3"></div>
        <div class="arrow-down odd arrow" id="2"></div>
        <div class="arrow-down even arrow has_white_pieces" id="1">
          <div
            class="piece_white_6 white_pieces"
            id="piece_white_6"
            draggable="true"
          >
            6
          </div>
          <div
            class="piece_white_7 white_pieces"
            id="piece_white_7"
            draggable="true"
          >
            7
          </div>
        </div>
      </div>

      <div class="bottom-row">
        <div class="arrow-up odd arrow has_white_pieces" id="19">
          <div
            class="piece_white_8 white_pieces"
            id="piece_white_8"
            draggable="true"
          >
            8
          </div>
          <div
            class="piece_white_9 white_pieces"
            id="piece_white_9"
            draggable="true"
          >
            9
          </div>
          <div
            class="piece_white_10 white_pieces"
            id="piece_white_10"
            draggable="true"
          >
            10
          </div>
          <div
            class="piece_white_11 white_pieces"
            id="piece_white_11"
            draggable="true"
          >
            11
          </div>
          <div
            class="piece_white_12 white_pieces"
            id="piece_white_12"
            draggable="true"
          >
            12
          </div>
        </div>
        <div class="arrow-up even arrow" id="20"></div>
        <div class="arrow-up odd arrow" id="21"></div>
        <div class="arrow-up even arrow" id="22"></div>
        <div class="arrow-up odd arrow" id="23"></div>
        <div class="arrow-up even arrow has_black_pieces" id="24">
          <div
            class="piece_black_6 black_pieces"
            id="piece_black_6"
            draggable="true"
          >
            6
          </div>
          <div
            class="piece_black_7 black_pieces"
            id="piece_black_7"
            draggable="true"
          >
            7
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scriptGame %}
<script src="{% static 'backgammon/js/diceGame.js' %}"></script>
<script src="{% static 'backgammon/js/game.js' %}"></script>
{% endblock %}
