<a href="{% url 'home' %}">
  <h1><span class="badge text-primary">Book Lovers</span></h1>
</a>
<form method="GET" action="{% url 'home' %}">
  <div class="col-4 ms-3">
    <input class="form-control" type="text" name="q" placeholder="Search a book" />
  </div>
</form>

{% if request.user.is_authenticated %}
<div class="ms-3 d-inline-block">
  <p class="mt-3">Hello, @{{user.username}}</p>
  <a class="navbar border-body link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'logout' %}">Logout</a>
  {% else %}
  <a class="navbar border-body link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'login' %}">Login</a>
  {% endif %}
</div>

<hr />
